{{#extend "layout"}}

    {{#content "bodyClass"}}
      content-loading
    {{/content}}

    {{#content "body"}}
        <div class="whirl no-overlay" id="homeLoader"></div>

        <nav
         class="navbar navbar-padded navbar-fixed-top menu-open navbar-static-sm navbar-click-through top-navbar"
         data-toggle="toggle-class-over"
         data-class-name="navbar-color-primary"
         data-offset-top="65"
         data-offset-bottom="30"
         data-target="[data-navbar-color-primary]">
            <div class="container-fluid">
                <a
                 class="navbar-brand nav"
                 href="/">
                    {{> enhancv-logo }}
                </a>

                <a
                 href="{{links.get_started}}"
                 data-toggle="toggle-class-scroll"
                 data-offset="380"
                 data-class-name="shown"
                 class="btn btn-black nav navbar-toggle-replace">
                    Let’s Begin
                </a>

                <button
                 type="button"
                 class="nav navbar-toggle js-open-menu">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar icon-bar-up"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar icon-bar-down"></span>
                </button>
                <a href="https://app.enhancv.com" class="btn btn-transparent btn-line btn-xs invert-color text-s nav login-btn pull-right">Login</a>
            </div>
        </nav>

        <div class="section -banner -main-full -home -padding-s menu-open with-background" id="videosContainer">

            <div class="main-links">
                <div class="home-banner-nav">
                    <ul class="navigation-bar -center -main">
                        <li><a href="#stepsContainer" class="js-scroll-to">Tour</a></li>
                        <li><a href="/examples.html">Examples</a></li>
                        <li><a href="{{links.blog}}" target="_blank">Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <h1 class="main-caption">
                  <span class="video-caption active" style="display:block;">Resumes for people who<br>create greatness with a single move</span>
                  <span class="video-caption" data-show-on="0">Resumes for people who<br>create greatness with a single move</span>
                  <span class="video-caption" data-show-on="5">Resumes for people who<br>will advise the next president</span>
                  <span class="video-caption" data-show-on="11">Resumes for people who<br>face everyday struggles with grace</span>
                  <span class="video-caption" data-show-on="17">&nbsp;</span>
                </h1>
                <a href="{{links.get_started}}" class="btn btn-primary btn-md text-l invert-color hidden-xs" data-action="Create your resume" data-label="desktop">Create your resume</a>
                <a href="{{links.get_started}}" class="btn btn-primary btn-sm text-l invert-color visible-xs-inline-block" data-action="Create your resume" data-label="desktop">Create your resume</a>
            </div>

            <a href="#stepsContainer" class="go-to-section js-scroll-to"></a>
        </div>

        <div
         class="section -white menu-open as-seen-on hidden-xs"
         data-navbar-color-primary>
            <div class="container m-text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <span style="vertical-align: middle;" class="text-s text-g6 m-margin-r2 m-text-np">As seen on</span>
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/partners/logo1.png" alt="Forbes Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/partners/logo2.png" alt="Entrepreneur Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/partners/logo3.png" alt="Business Insider Logo" >
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/partners/logo4.png" alt="Life Hacker Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/partners/logo5.png" alt="Yahoo Finance Logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- steps -->
        <div class="steps-container-mobile section -steps menu-open">
            <div class="container m-text-center">
                <div>
                    <h2>Is this what your resume looks like?</h2>

                    <p>If so, you are one of the 98% of the people who still believe this is the best way to get a job</p>
                </div>

                <div class="steps-mobile-image">
                    <img
                     src="/images/resume-mobile-01.png"
                     width="520"
                     height="603">
                </div>

                <div>
                    <h2>Meet the modern resume</h2>

                    <p>Enhancv helps you create performance-based resumes that unveil the real person behind them</p>
                </div>

                <div class="steps-mobile-image">
                    <img
                     src="/images/resume-mobile-02.png"
                     width="520"
                     height="603">
                </div>

                <div>
                    <h2>Customize to every different job</h2>

                    <p>We help you customize your resume to each job you are applying for and triple your interview chances</p>
                </div>

                <div class="steps-mobile-image">
                    <img
                     src="/images/resume-mobile-03.png"
                     width="520"
                     height="603">
                </div>
            </div>
        </div>

        <div
         id="stepsContainer"
         data-navbar-color-primary
         class="section -steps -o-hidden steps-container">
            <div class="v-base step-image">
                <div class="v-middle-image">
                    <img
                     src="/images/resume-state-01.png"
                     width="520"
                     height="603">
                </div>
                <div
                 class="v-middle-image"
                 id="cv-image-2"
                 data-anchor-target="#step-two"
                 style="opacity:0;">
                    <img
                     src="/images/resume-state-02.png"
                     width="520"
                     height="603">
                </div>
                <div
                 class="v-middle-image"
                 id="cv-image-3"
                 data-anchor-target="#step-two"
                 style="opacity:0;">
                    <div style="position:relative;top:-5px;left:-20px;">
                        <img
                         src="/images/2-1.png"
                         width="520"
                         height="603">
                    </div>
                </div>
                <div
                 class="v-middle-image"
                 id="cv-image-4"
                 data-anchor-target="#step-three"
                 style="opacity:0;">
                    <div style="position:relative;top:33px;left:100px;">
                        <img
                         src="/images/3.png"
                         width="520"
                         height="603">
                    </div>
                </div>
            </div>

            <div class="progress-bullets">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>

            <div class="section -full">
                <div class="container">
                    <div id="step-one" class="step-screen">
                        <div>
                            <h2>Is this what your resume looks like?</h2>

                            <p>If so, you are one of the 98% of the people who still believe this is the best way to get a
                                job</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section -full">
                <div class="container">
                    <div id="step-two" class="step-screen" style="opacity:0;">
                        <div>
                            <h2>Meet the modern resume</h2>

                            <p>Enhancv helps you create performance-based resumes that unveil the real person behind them</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section -full">
                <div class="container">
                    <div id="step-three" class="step-screen" style="opacity:0;">
                        <div>
                            <h2>Customize to every different job</h2>

                            <p>We help you customize your resume to each job you are applying for and triple your interview
                                chances</p>
                            <a class="button -disabled -small m-margin-b5-sm">Coming soon</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div
         class="section -white -builder -padding-m live-editing-container"
         data-navbar-color-primary>

            <div class="live-editing-image">
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="/images/builder-01.jpg" media="(min-width: 1950px)">
                  <source srcset="/images/builder-01-medium.jpg" media="(min-width: 1500px)">
                  <!--[if IE 9]></video><![endif]-->
                  <img srcset="/images/builder-01-small.jpg" alt="Enhancv resume builder (small)">
                </picture>
            </div>

            <div class="container">
                <div class="live-editing">
                    <h2 class="-enlarge">Show who you really are</h2>

                    <p>Enhancv helps you express your true personality and show the real person behind the resume</p>
                </div>
            </div>

            <!-- optimize this -->
            <img class="live-editing-image-mobile" src="/images/builder-01-small.jpg" alt="Enhancv resume builder">
        </div>

        <div class="section -dark -full -padding-s">

            <div class="container">

                <div class="v-base -h50 m-padding-b0-sm">
                    <div class="v-bottom">

                        <div class="row">

                            <div class="col-md-4 col-sm-12 feature">

                                <img
                                 src="/images/icon-01.svg"
                                 alt="Light bulb">

                                <h3>Tips &amp; Examples</h3>

                                <p class="text-g9">Our guidelines summarize some of the best career advice out there from some
                                    of the most influential talent managers, career coaches and entrepreneurs</p>

                            </div>
                            <div class="col-md-4 col-sm-12 feature">

                                <img
                                 src="/images/icon-02.svg"
                                 alt="Brush">

                                <h3>Design Customization</h3>

                                <p class="text-g9">Add your personal touch by customizing your resume design the way you like it
                                    most.</p>

                            </div>
                            <div class="col-md-4 col-sm-12 feature">

                                <img
                                 src="/images/icon-03.svg"
                                 alt="Zeros and ones">

                                <a class="btn btn-dashed btn-sm disabled m-margin-b5-sm">Coming soon</a>

                                <h3>Content Analyzer</h3>

                                <p class="text-g9">Our smart text analyzers instantly discover all mistakes you’ve made and
                                    automatically give you suggestions how to improve them</p>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4 col-sm-12 feature">

                        <img
                         src="/images/icon-04.svg"
                         alt="Profile pic">

                        <h3>Human-centric</h3>

                        <p class="text-g9">We have included various new sections that go deep into your personal life and reveal
                            important facts about who you really are</p>

                    </div>
                    <div class="col-md-4 col-sm-12 feature">

                        <img
                         src="/images/icon-05.svg"
                         alt="PDF Icon">

                        <h3>PDF Export</h3>

                        <p class="text-g9">After polishing the content of your resume you can download and save it as a .pdf
                            file</p>

                    </div>
                    <div class="col-md-4 col-sm-12 feature">

                        <img
                         src="/images/icon-06.svg"
                         alt="Smiling laptop">

                        <h3>ATS Optimized</h3>

                        <p class="text-g9">The resume format we are using is readable by most Applicant Tracking Systems, as it was built upon the most-used guidelines</p>

                    </div>

                </div>

            </div>

        </div>

        <div
         class="section -white"
         data-navbar-color-primary>
            <h2 class="testimonial-section-title m-text-center">What do employers say about Enhancv?</h2>

            <div class="v-base">
                <div class="v-middle">

                    <div class="container">

                        <div class="js-slick">
                            <div class="row gutter100">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <div class="testimonial-container">
                                            <div class="testimonial-information">
                                                <div class="testimonial-information-center">
                                                    <h3>Velina Getova</h3>
                                                    <span>Career Coach & Senior Recruiter</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p>If everyone followed Enhancv`s professional advice finding the right person wouldn’t
                                            have been such a challenge!</p>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <div class="testimonial-container">
                                            <div class="testimonial-information">
                                                <div class="testimonial-information-center">
                                                    <h3>Carl</h3>
                                                    <span>Product Manager</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p>I love the app. It was worth the upgrade price. As an executive who does my fair share of hiring, I wish all candidates had resumes like this. I need some idea of the cultural fit as well as their technical capabilities. This resume format allows the hiring manager to get a more complete picture of the candidate. Great job.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section -green -padding-xxl m-text-center">
            <img src="/images/footer-img-03.png" class="media-fimage" alt="">
            <img src="/images/footer-img-02.png" class="media-fimage -right -bottom" alt="">

            <div class="container">

                <h2 class="m-margin-t0 -enlarge">Ready to get started?</h2>

                <a href="{{links.get_started}}" class="btn btn-white btn-lg text-m">Let’s Begin</a>

            </div>
        </div>
    {{/content}}
{{/extend}}
