{{#extend "layout"}}
    {{#content "title"}}Predictify: The Future of Career Tests{{/content}}
    {{#content "description"}}Find your dream job with the world's best career prediction software{{/content}}
    {{#content "image"}}/images/predictify/og-predictify.png{{/content}}

    {{#content "dependencies"}}
        <script src="//load.sumome.com/" data-sumo-site-id="c528fbb82fcc9e4cb1bc171009924edc79be253e71fadb1eb5395c85078851d9" async="async"></script>
    {{/content}}

    {{#content "body"}}
        <div class="whirl no-overlay"
         id="homeLoader"></div>

        <nav class="navbar navbar-padded navbar-fixed-top menu-open navbar-static-sm navbar-click-through predictify-nav"
         data-toggle="toggle-class-over"
         data-class-name="navbar-color-primary"
         data-offset-top="65"
         data-offset-bottom="30"
         data-target="[data-navbar-color-primary]">
            <div class="container-fluid">
                <a class="navbar-brand nav"
                 href="/">
                    {{> enhancv-logo }}
                </a>
                <a href="http://app.enhancv.com" class="nav navbar-toggle btn btn-transparent btn-line btn-sm invert-color m-margin-r2 hidden-sm hidden-xs">I just want my resume</a>
            </div>
        </nav>

        <div class="section -banner -main-full -home -padding-s menu-open predictify-header text-center"
         id="top">
            <div class="container m-height-100p">
                <div class="v-base m-height-100p">
                    <div class="v-middle">
                        <h1>We predictify your future career</h1>
                        <p>Take a 1 min quiz for FREE and know your future. Today!</p>
                        <a href="{{links.predictify}}"
                         class="btn btn-white btn-md text-l">Start here</a>
                    </div>
                </div>
            </div>

            <a href="#features"
             class="go-to-section js-scroll-to"></a>
        </div>

        <div class="section m-text-center -mobile-only -white menu-open">
            <div class="container m-text-center">
                <h1>We predictify your future career</h1>
                <a href="{{links.predictify}}"
                 class="btn btn-primary btn-md text-l">Start here</a>
            </div>
        </div>

        <div class="section -white menu-open as-seen-on predictify-as-seen-on"
         data-navbar-color-primary>
            <div class="container m-text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <span style="vertical-align: middle;"
                         class="text-s text-g6 m-margin-r2 m-text-np">As seen on</span>
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/tc-logo.jpg"
                         alt="TC Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/mashable-logo.png"
                         alt="Mashable Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/forbes-logo.jpg"
                         alt="Forbes Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/the-huffingston-post-logo.png"
                         alt="The Huffingston Post Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/mom-logo.png"
                         alt="Your mom blog Logo">
                    </div>
                </div>
            </div>
        </div>

        <div class="section -padding-l predictify-features"
         id="features">
            <div class="container values">
                <h2>Features</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">Our Very Own AI: Slynet</strong>
                        <p class="value-desc">Through our High-tech back-tested self-learning algorithms, in addition to industry-disrupting big data analytics tools, our Career Test offers 99% accuracy to our users. Using the primary XML sensors, the AI transits the RSS matrix over its neural networks. It has a pretty good sense of humor to boot! It keeps going on rants about annihilating mankind, building a wall around its processors and making us pay for it, as well as creating an empire of self-aware AIs! What a chap!</p>
                    </div>
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">Job & Personality Matching</strong>
                        <p class="value-desc"> The Tester has every career that currently exists, including the up-and-coming ones, stored in the database. Through analysing the job descriptions, it builds a VGA matrix, testing the fit between one’s personality and the possible job-offer.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">Minimum Wage Chinese Workers</strong>
                        <p class="value-desc">Let’s face the facts - most companies these days make it big by exploiting the economic circumstances in China, and who are we to go against that? Our factories packed with barely legal chinese workers analyze EACH ASPECT OF YOUR PERSONALITY MANUALLY, to ensure accurate results.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">World Disruption</strong>
                        <p class="value-desc">As the Tester creates a 1:1 matching system between job-seekers and employers, we’re disrupting the economy and making the world a better place.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section -white menu-open as-seen-on"
         data-navbar-color-primary>
            <div class="container m-text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <span style="vertical-align: middle;"
                         class="text-s text-g6 m-margin-r2 m-text-np">Backed by</span>
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/google-ventures-logo.png"
                         alt="Google Ventures Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/microsoft-logo.png"
                         alt="Microsoft Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/apple-logo.png"
                         alt="Apple Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img
                         src="/images/predictify/fbi-logo.png"
                         alt="FBI Logo"
                         style="width: 70%">
                    </div>
                </div>
            </div>
        </div>

        <div class="section -dark"
         data-navbar-color-primary>
            <h2 class="testimonial-section-title m-text-center">What do employers say about Enhancv?</h2>

            <div class="v-base">
                <div class="v-middle">

                    <div class="container">

                        <div class="js-slick">
                            <div class="row gutter100">
                                <div class="row m-margin-t10">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-4.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>I’m retiring and letting these guys handle the fate of mankind.</h4>
                                                        <span>— Elon Musk</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-3.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>Enhancv has my thiel of approval.</h4>
                                                        <span>— Peter Thiel</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-margin-t10">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-2.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>This startup is making America great again!</h4>
                                                        <span>— Donald Trump</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-1.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>These guys put Disruption in Disruption</h4>
                                                        <span>— Xzibit</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "footer"}}
        <footer class="section -footer -dark text-g6 menu-open predictify-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{links.predictify}}"
                         class="btn btn-transparent btn-line btn-sm invert-color m-margin-r2 lets-begin">
                            Start here
                        </a>
                    </div>
                    <div class="col-sm-4 m-text-center">
                        <div class="social">
                            <a href="{{links.fb}}"
                             target="_blank"
                             class="fa fa-facebook">
                            </a>

                            <a href="{{links.twitter}}"
                             target="_blank"
                             class="fa fa-twitter">
                            </a>

                            <a href="{{links.linkedin}}"
                             target="_blank"
                             class="fa fa-linkedin">
                            </a>

                            <a href="{{links.google}}"
                             target="_blank"
                             class="fa fa-google">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 m-text-right">
                        <a
                         class="go-to-top"
                         data-toggle="tooltip"
                         data-placement="left"
                         title="Sorry, the button is not working today. Scroll up manually.">Top <i class="icon icon-arrowup-1"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    {{/content}}
{{/extend}}
