{{> header data=meta_data.index }}
<body id="mod">

  {{> navigation}}

  <div class="section -banner -main-full -home -padding-s menu-open">

    <div class="row">
      <div class="col-sm-3">

        <img src="/images/ench_logo.svg" alt="" class="ench-logo">

      </div>
      <div class="col-sm-6 home-banner-nav">

        <ul class="nav -center -main">
          <li><a href="#steps-container" class="js-scroll-to">Tour</a></li>
          <li><a href="{{global.examples}}" target="_blank">Examples</a></li>
          <li><a href="{{global.blog}}" target="_blank">Blog</a></li>
        </ul>

      </div>
      <div class="col-sm-3 m-text-right cta-container">
        <a href="#" class="menu-hamb js-open-menu"><span>Toggle menu</span></a>
        <a href="{{global.get_started}}" class="button -small -trans button-cta">Let’s Begin</a>
      </div>
    </div>

    <div class="container m-height-100p">
      <div class="v-base m-height-100p">
        <div class="v-middle">
          <h1>Get the job<br> you deserve!</h1>
          <a href="{{global.get_started}}" class="button m-margin-r4 -prim">Let’s Begin</a>
          <span>It's FREE</span>
        </div>
      </div>
    </div>

    <a href="#steps-container" class="go-to-section js-scroll-to"></a>

  </div>

  <div class="section m-text-center -mobile-only -white menu-open">
    <div class="container m-text-center">
      <h1>Get the job<br> you deserve!</h1>
      <a href="{{global.get_started}}" class="button -prim">Let’s Begin</a>
    </div>
  </div>

  <div class="section -white menu-open">
    <div class="container m-text-center">
      <div class="row">
        <div class="col-sm-2">
          <span class="text-s text-g6 m-margin-r2 m-text-np">As seen on</span>
        </div>
        <div class="col-sm-10">
          <img src="/images/logos.png" alt="">
        </div>
      </div>
    </div>
  </div>

<!-- steps -->
<div id="steps-container" class="section -steps -o-hidden steps-container">
  <div class="section -full">
    <div class="container">

        <div class="v-base step-image is-fixed js-first-si" data-top="opacity: 1;" data-350-top="opacity: 0; ">
          <div class="v-middle">
          <img src="/images/1.png" alt="" >
          </div>
        </div>

    </div>
  </div>

  <div class="section -full">
    <div class="container">

        <div id="step-one" class="step-screen">
          <div data-top="opacity: 0;" data-100-top="opacity: 1;" data--100-bottom="opacity: 1;" data-bottom-top="opacity: 0;">

            <h2>Is this how your resume looks like?</h2>
            <p>If so, you are one of the 98% of the people who still believe this is the best way to get a job</p>

          </div>
        </div>

    </div>
  </div>

  <div class="section -full">
    <div class="container">


        <div class="v-base step-image is-fixed" data-550-top="opacity: 1; position: fixed;" data-650-top=" opacity: 0;">
          <div class="v-middle">
          <img src="/images/2.png" alt="" >
          </div>
        </div>

        <div class="v-base step-image is-fixed" data-450-top="opacity: 1; position: fixed;" data-550-top=" opacity: 0;" data-top-bottom="opacity: 1;" data-bottom-150="opacity: 0;" data-center="opacity: 1;">
          <div class="v-middle">
          <img src="/images/2-1.png" alt="" >
          </div>
        </div>

        <div id="step-two" class="step-screen">
          <div data-top="opacity: 0;" data-100-top="opacity: 1;" data--100-bottom="opacity: 1;" data-bottom-top="opacity: 0;" data--200-top="opacity: 0;">

            <h2>Meet the modern resume</h2>
            <p>Enhancv helps you create performance-based resumes that unveil the real person behind them</p>

          </div>
        </div>

    </div>
  </div>

  <div class="section -full">
    <div class="container">


        <div class="v-base step-image is-fixed" data-550-top="opacity: 1; position: fixed;" data-650-top=" opacity: 0;">
          <div class="v-middle">
          <img src="/images/3.png" alt="" class="m-margin-l10 m-margin-l0-sm">
          </div>
        </div>

        <div id="step-three" class="step-screen">
           <div data-top="opacity: 0;" data-200-top="opacity: 1;" data--100-bottom="opacity: 1;" data-bottom-top="opacity: 0;" data--200-top="opacity: 0;">

            <h2>Customize to every different job</h2>
            <p>We help you customize your resume to each job you are applying for and triple your interview chances</p>
            <a class="button -disabled -small m-margin-b5-sm">Coming soon</a>

          </div>
        </div>

    </div>
  </div>

</div>


  <div class="section -white -builder -padding-m">

    <div class="live-editing-image">
      <img src="/images/builderimg.jpg" alt="">
    </div>

    <div class="container">

      <div class="live-editing">
        <h2 class="-enlarge">Show who you really are</h2>
        <p>Enhancv helps you express your true personality and show the real person behind the resume</p>
      </div>

    </div>
  </div>

  <div class="section -dark -full -padding-s">

    <div class="container">

       <div class="v-base -h50 m-padding-b0-sm">
          <div class="v-bottom">

            <div class="row">

              <div class="col-md-4 col-sm-12 feature">

                <img src="/images/icon-01.png" alt="">

                <h3>Tips & Examples</h3>

                <p class="text-g9">Our guidelines summarize some of the best career advice out there from some of the most influential talent managers, career coaches and entrepreneurs</p>

              </div>
              <div class="col-md-4 col-sm-12 feature">

                <img src="/images/icon-02.png" alt="">

                <h3>Design Customization</h3>

                <p class="text-g9">Add your personal touch by customizing your resume design the way you like it most.</p>

              </div>
              <div class="col-md-4 col-sm-12 feature">

                <img src="/images/icon-03.png" alt="">
                <a class="button -disabled -small m-margin-b5-sm coming-soon-green">Coming soon</a>

                <h3>Content Analyzer</h3>

                <p class="text-g9">Our smart text analyzers instantly discover all mistakes you’ve made and automatically give you suggestions how to improve them</p>

              </div>

            </div>

          </div>
      </div>


            <div class="row">

              <div class="col-md-4 col-sm-12 feature">

                <img src="/images/icon-04.png" alt="">

                <h3>Human-centric</h3>

                <p class="text-g9">We have included various new sections that go deep into your personal life and reveal important facts about who you really are</p>

              </div>
              <div class="col-md-4 col-sm-12 feature">

                <img src="/images/icon-05.png" alt="">

                <h3>PDF Export</h3>

                <p class="text-g9">After polishing the content of your resume you can download and save it as .pdf file</p>

              </div>
              <div class="col-md-4 col-sm-12 feature">

                <img src="/images/icon-06.png" alt="">

                <h3>ATS Optimized</h3>

                <p class="text-g9">The resume format we are using is readable by most Applicant Tracking Systems, since we’ve built it upon the guidelines of the most used ones</p>

              </div>

            </div>

    </div>

  </div>

  <div class="section -white -full">
    <h2 class="testimonial-section-title m-text-center">What employers say about Enhancv?</h2>

    <div class="v-base">
      <div class="v-middle">


          <div class="container">

          <div class="js-slick">
            <div class="row gutter100">
              <div class="col-sm-6">

                <div class="testimonial">
                  <img src="/images/vgetova.png" alt="">
                  <h3>Velina Getova</h3>
                  <span>Career Coach & Senior Recruiter</span>
                  <p>If everyone followed Enhancv professional advice finding the right person wouldn’t have been such a challenge!</p>
                </div>

              </div>


              <div class="col-sm-6">

                <div class="testimonial">
                  <img src="/images/god.png" alt="">
                  <h3>God</h3>
                  <span>Master of all</span>
                  <p>These guys are doing a god job, helping fellow humans nail their dreams faster.</p>
                </div>

              </div>

            </div>


            </div>


          </div>
    </div>


      </div>
    </div>

    <a href="#" class="testimonial-nav-left js-prev"></a>
    <a href="#" class="testimonial-nav-right js-next"></a>

  </div>

  <div class="section -green -padding-xxl m-text-center -pre-footer">
    <img src="/images/footer-img-03.png" class="media-fimage" alt="">
    <img src="/images/footer-img-02.png" class="media-fimage -right -bottom" alt="">

    <div class="container -cta">

      <h2 class="m-margin-t0 -enlarge">Ready to get started?</h2>

      <a href="{{global.get_started}}" class="button -white">Let’s Begin</a>

    </div>
  </div>

{{> footer}}

</body>
</html>
