<div class="menu">
  <div class="buttons-container">
    <a href="{{global.get_started}}" class="button -small -trans -grey lets-begin">Let's Begin</a>
    <a href="#" class="menu-close js-close-menu"></a>

    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/partners.html">Partners</a></li>
      <li><a href="/examples.html">Examples</a></li>
      <li><a href="/jobs.html">Jobs</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/contacts.html">Contacts</a></li>
    </ul>

    <ul class="-secondary">
      <li><a href="#">For Companies</a></li>
      <li><a href="#">For Universities</a></li>
    </ul>
  </div>
  <div class="social -small -left">
    <a href="{{global.fb}}" target="_blank" class="fa fa-facebook"></a>
    <a href="{{global.twitter}}" target="_blank" class="fa fa-twitter"></a>
    <a href="{{global.linkedin}}" target="_blank" class="fa fa-linkedin"></a>
    <a href="{{global.google}}" target="_blank" class="fa fa-google"></a>
  </div>
</div>
